{{#>app-container}}
<div class="jumbotron text-center">
  <img src="https://latex.codecogs.com/png.image?\dpi{200}&space;n!=1\times&space;2\times&space;3\times\cdot&space;\cdot&space;\cdot&space;\times&space;(n-1)\times&space;n" title="n!=1\times 2\times 3\times\cdot \cdot \cdot \times (n-1)\times n" />
</div>
{{/app-container}}
