{{#>app-container}}

<div class="text-center">
  <input type="number" name="" id="" value="20">
  <button> 计算 </button>
</div>
<div class="jumbotron text-center">
  <img src="https://latex.codecogs.com/png.image?\dpi{200}&space;F{n}=\left\{\begin{matrix}0&space;&&space;if(n&space;=&space;0)&space;\\1&space;&&space;if(n&space;=&space;1)&space;\\F{n-1}&plus;F{n-2}&space;&&space;if(n>1)&space;\\\end{matrix}\right." title="F{n}=\left\{\begin{matrix}0 & if(n = 0) \\1 & if(n = 1) \\F{n-1}+F{n-2} & if(n>1) \\\end{matrix}\right." />
</div>
{{/app-container}}
