<div id="app" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="crypto-title" class="text-center">audiojs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <audio src="./../bower_components/audiojs/mp3/bensound-epic.mp3" preload="auto"></audio>
    </div>
  </div>
</div>
