<div class="container">
  {{>page-header}}
  <div class="form-group">
    <textarea name="input" class="form-control" rows="4" placeholder="请输入需要加密的数据"></textarea>
  </div>
  <div class="form-group text-center">
    {{#if encrypt}}
      <button type="button" id="encrypt" class="btn btn-default"><i class="fas fa-angle-double-down"></i> 加密</button>
    {{/if}}
    {{#if decrypt}}
      <button type="button" id="decrypt" class="btn btn-default"><i class="fas fa-angle-double-up"></i> 解密</button>
    {{/if}}
  </div>
  <div class="form-group">
    <textarea name="output" class="form-control" rows="10" placeholder="请输入需要解密的数据"></textarea>
  </div>
</div>
