<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>XLSX | Langnang Toolkit</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
  <div id="app" class="container">
    <div class="row">
      <h1 class="text-center">XLSX</h1>
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <input type="file" name="" id="">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>