<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cpic Toolkit</title>
  <link rel="stylesheet" href="./../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./../../../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />
</head>

<body>
  <div id="app" class="container">
    <div class="jumbotron text-center" style="margin-top: 20px;">
      <h2>Insert Menu</h2>
      <p>新增菜单</p>
    </div>
    <div class="thumbnail">
      <div class="caption">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
              <input v-model="form.code" type="text" class="form-control" placeholder="Code.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input v-model="form.name" type="text" class="form-control" placeholder="Name.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Parent Code</label>
            <div class="col-sm-10">
              <input v-model="form.parent_code" type="text" class="form-control" placeholder="Parent Code.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sort</label>
            <div class="col-sm-10">
              <input v-model="form.sort" type="number" class="form-control" placeholder="Sort.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
              <label class="checkbox-inline" v-for="item in form.role_options">
                <input v-model="form.role_code" type="checkbox" name="role_code" :value="item"> {{item.label}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-primary" @click="download(false)">新增脚本下载</button>
              <button type="button" class="btn btn-default" @click="download(true)">回滚脚本下载</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="page-header">
      <h3>新增菜单 </h3>
    </div>
    <pre ref="insert_menu">
INSERT INTO PJAS.CAF_FUNCTION (ID, CODE, NAME, STATUS, TYPE, URL, PARENT_ID, SORT)
VALUES
  (
    sys_guid(),
    '{{form.code}}',
    '{{form.name}}',
    '1',
    'MENU',
    NULL,
    (SELECT ID FROM PJAS.CAF_FUNCTION WHERE TYPE = 'MENU' AND CODE = '{{form.parent_code}}'),
    {{form.sort}}
  );      
</pre>

    <div class="page-header">
      <h3>配置用户权限 </h3>
    </div>
    <pre ref="insert_role">
{{role_sql}}
</pre>
    <div class="page-header">
      <h3>回滚 </h3>
    </div>
    <pre ref="rbk">

DELETE FROM PJAS.CAF_ROLEFUNCTION WHERE FUNCTION_ID=(SELECT ID FROM CAF_FUNCTION WHERE CODE = '{{form.code}}')

DELETE FROM PJAS.CAF_FUNCTION WHERE CODE = '{{form.code}}'</pre>
  </div>
  <script src="./../../../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./../../../../node_modules/vue/dist/vue.min.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          form: {
            code: "",
            name: "",
            parent_code: "",
            sort: 1,
            role_code: [],
            role_options: [
              { label: "管理员", value: "CX_PT18AFL_0001" },
              { label: "工时主管", value: "CX_PT18AFL_0006" },
              { label: "配件工时主管", value: "CX_PT18AFL_0008" },
            ],
          }
        }
      },
      computed: {
        menu_sql() { },
        role_sql() {
          return this.form.role_code.reduce((total, item) => total + `-- ${item.label} ${item.value}
INSERT INTO PJAS.CAF_ROLEFUNCTION (ID,FUNCTION_ID,ROLE_ID)
SELECT sys_guid(),
(SELECT ID FROM CAF_FUNCTION WHERE CODE = '${this.form.code}'),
(SELECT ID FROM CAF_ROLE WHERE CODE = '${item.value}')
FROM DUAL
WHERE NOT EXISTS
(
  SELECT 1 FROM CAF_ROLEFUNCTION
  WHERE FUNCTION_ID IN
    (SELECT ID FROM CAF_FUNCTION WHERE CODE = '${this.form.code}')
  AND ROLE_ID = (SELECT ID FROM CAF_ROLE WHERE CODE = '${item.value}')
);\n\n`, "");
        },
        rollback_sql() { }
      },
      methods: {
        download(rbk = false) {
          let filename = `新增${this.form.name}${rbk ? '-rbk' : ""}.sql`  //注意最好设置后缀.txt
          let value = '';
          if (!rbk) {
            value = `-- ${this.form.name}\n` + this.$refs.insert_menu.innerHTML + this.$refs.insert_role.innerHTML;
          } else {
            value = this.$refs.rbk.innerHTML;
          }
          let elem = document.createElement('a');  //创建a标签
          elem.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(value));  //设置下载文件内容
          elem.setAttribute('download', filename);  //设置下载文件名
          elem.style.display = 'none';  //设置a标签默认隐藏
          document.body.appendChild(elem);  //添加至dom层
          elem.click();  //执行点击下载事件
          document.body.removeChild(elem);  //使用下载后移除a标签
        }
      }
    });
  </script>
</body>

</html>