<form class="container form-horizontal">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="siteUrl" placeholder="Url" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="static_crawler_site_info_submit">Submit!</button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="siteTitle" placeholder="Title" readonly />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="siteKeywords" placeholder="Keywords" readonly />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="siteDescription" placeholder="Description" readonly />
  </div>
  <div class="form-group text-center">
    <button type="button" class="btn btn-primary" id="static_crawler_site_info_insert_draft">提交收录</button>
  </div>
</form>
