<div class="row examples">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img data-src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/622762d0f703918fd091b3c4523d269759eec478.jpg">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img data-src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/622762d0f703918fd091b3c4523d269759eec478.jpg">
            </div>
        </div>
    </div>
</div>

<div class="row examples">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img data-src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/622762d0f703918fd091b3c4523d269759eec478.jpg">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img data-src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/622762d0f703918fd091b3c4523d269759eec478.jpg">
            </div>
        </div>
    </div>
</div>
