<form class="container">
  {{>page-header}}
  <div class="text-center" style="font-size: 48px;">
  </div>
  <div class="jumbotron text-center" name="random_number">
    <h1>{{random}}</h1>
  </div>
</form>
