<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Langnang Toolkit</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <style>
    .thumbnail .caption {
      padding: 9px 0;
    }

    .thumbnail .caption p {
      margin: 0;
      font-size: 36px;
    }

    a,
    a:hover,
    a:visited,
    a:active {
      text-decoration: none;
    }

    .btn-group {
      margin-right: 6px;
      margin-bottom: 6px;
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <div class="row">
      <h1 class="text-center">Toolkit</h1>
      <div v-for="(item,index) in views" :key="index" :class="['col-md-'+(item.span||2),'col-sm-'+((item.span||2)+1),'col-xs-'+((item.span||2)+2)]">
        <a :href="item.path">
          <div class="thumbnail">
            <div class="caption text-center">
              <p>{{item.name}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div v-for="(item,index) in sites" :key="index" :class="['col-md-'+(item.span||2),'col-sm-'+((item.span||2)+1),'col-xs-'+((item.span||2)+2)]">
        <a :href="item.href" target="_blank">
          <div class="thumbnail">
            <div class="caption text-center">
              <p>{{item.name}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="packages">
      </div>
    </div>

  </div>
  <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="./router/index.js"></script>
  <script src="./store/index.js"></script>
  <script>
    window.onload = function () {
      writePackages(document.getElementById('packages'))
      new Vue({
        el: '#app',
        data: {
          views: router,
          dependencies: store.state.dependencies,
          sites: [
            { name: "CodePen", href: "https://codepen.io/" },
            { name: "CodeSandbox", href: "https://codesandbox.io/", span: 3 },
            { name: "StackEdit", href: "https://stackedit.io/" },
            { name: "Dillinger", href: "https://dillinger.io/" }
          ]
        }
      })
    }

  </script>
</body>

</html>